*{
    margin:0;
    padding:0;

}

body{
    background-color: #f9e4bc;
    padding:;
}

.container-heading{
    background-color: azure;
    padding: 5vh;
    margin:1,5vh;

}

.heding{
    
}

h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
}

.content{
    display: flex;
    text-align: center;
    gap: 30px;
    flex-wrap:wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: ;

}
.photo-content{
    background-color:  ;
    margin: 20px; 
    padding: 10px;

}

a{
    display: flex;
    flex-wrap: wrap;
    text-align: center ;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    margin-top: 30px;
}

.foto{
    width: 60%;
    height:60%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center ;
    justify-content: center;
    align-items: center;
    border: ;   
}

.teks{
    margin-bottom: 50px;
    font-size:20px;
}